<section class="ae-container-fluid rk-main">
        <div class="ae-grid ae-grid--alt au-xs-ptp-1">
            <div class="ae-grid__item--alt item-lg-3">
                <div class="ae-grid ae-grid--collapse au-xs-ptp-2 au-xs-ptb-1">
                    <div class="ae-grid__item item-lg-4 item-lg--offset-4">
                      <h5 class="ae-u-bolder">LUNES</h5>
                      <table class="ae-table">
                        <tbody>
                          <tr>
                            <td class="au-xs-ta-center ae-u-bolder">1º</td>
                            <td>Sopa de pollo</td>
                          </tr>
                          <tr>
                            <td class="au-xs-ta-center ae-u-bolder">2º</td>
                            <td>Escalope con patatas</td>
                          </tr>
                          <tr>
                            <td class="au-xs-ta-center ae-u-bolder">Postre</td>
                            <td>Casero</td>
                          </tr>
                          <tr>
                            <td class="au-xs-ta-center ae-u-bolder">Bebida</td>
                            <td>Agua y vino</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
            <div class="ae-grid__item--alt item-lg-3">
                <div class="ae-grid ae-grid--collapse au-xs-ptp-2 au-xs-ptb-1">
                    <div class="ae-grid__item item-lg-4 item-lg--offset-4">
                        <h5 class="ae-u-bolder">MARTES</h5>
                        <table class="ae-table">
                          <tbody>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">1º</td>
                              <td>Sopa de pollo</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">2º</td>
                              <td>Escalope con patatas</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Postre</td>
                              <td>Casero</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Bebida</td>
                              <td>Agua y vino</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div></div>
            <div class="ae-grid__item--alt item-lg-3">
                <div class="ae-grid ae-grid--collapse au-xs-ptp-2 au-xs-ptb-1">
                    <div class="ae-grid__item item-lg-4 item-lg--offset-4">
                        <h5 class="ae-u-bolder">MIERCOLES</h5>
                        <table class="ae-table">
                          <tbody>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">1º</td>
                              <td>Sopa de pollo</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">2º</td>
                              <td>Escalope con patatas</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Postre</td>
                              <td>Casero</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Bebida</td>
                              <td>Agua y vino</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                 </div>
            <div class="ae-grid__item--alt item-lg-3">
                <div class="ae-grid ae-grid--collapse au-xs-ptp-2 au-xs-ptb-1">
                    <div class="ae-grid__item item-lg-4 item-lg--offset-4">
                        <h5 class="ae-u-bolder">JUEVES</h5>
                        <table class="ae-table">
                          <tbody>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">1º</td>
                              <td>Sopa de pollo</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">2º</td>
                              <td>Escalope con patatas</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Postre</td>
                              <td>Casero</td>
                            </tr>
                            <tr>
                              <td class="au-xs-ta-center ae-u-bolder">Bebida</td>
                              <td>Agua y vino</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>
                <div class="ae-grid__item--alt item-lg-10">
                    <div class="ae-grid ae-grid--collapse au-xs-ptp-2 au-xs-ptb-1">
                        <div class="ae-grid__item item-lg-5 item-lg--offset-5">
                            <h5 class="ae-u-bolder">viernes</h5>
                            <table class="ae-table">
                              <tbody>
                                <tr>
                                  <td class="au-xs-ta-center ae-u-bolder">1º</td>
                                  <td>Sopa de pollo</td>
                                </tr>
                                <tr>
                                  <td class="au-xs-ta-center ae-u-bolder">2º</td>
                                  <td>Escalope con patatas</td>
                                </tr>
                                <tr>
                                  <td class="au-xs-ta-center ae-u-bolder">Postre</td>
                                  <td>Casero</td>
                                </tr>
                                <tr>
                                  <td class="au-xs-ta-center ae-u-bolder">Bebida</td>
                                  <td>Agua y vino</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
  </section>