<section class="ae-container-fluid ae-container-fluid--full rk-main">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">Café Can Martí</h1>
      <p class="ae-theta rk-portfolio-category ">Desde 1940...</p>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <p>Martí Capó y Margalida Roig abrieron Can Martí en el año 1940; antes había una bodega llamada ‘Es Vinet’. Desde sus orígenes quisieron que la cafetería fuese como un hogar para sus clientes, por eso Martí decidió ponerle su propio nombre y llamarlo Can Martí. En 1968 se hicieron cargo del negocio su hija Francisca Capó y su marido Toni Brotons en colaboración con Pedro Brotons y su esposa Antònia Martínez. Ahora, la propietaria del negocio es la hija de estos últimos, Cristina Brotons. Pese al paso de los años y los cambios, Can Martí sigue siendo uno de los establecimientos más populares de Palma. «El secreto del éxito es seguir haciendo lo mismo de siempre, dar un trato familiar y ofrecer una comida casera». </p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/canmarti.jpg" alt="Urku Portfolio"></div>
      </div>

      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/porfuera.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 au-lg-ptp-0 item-lg--offset-1">
          <p>Actualmente, la mayoría de la clientela que va a comer a Can Martín son trabajadores de la zona -arquitectos, abogados, funcionarios...-; los vecinos suelen ir a desayunar. Pedro recuerda que cuando Radio Mallorca estaba en el barrio, Miguel Soler iba a desayunar cada día y llevaba a los invitados conocidos que pasaban por su programa. Entre otros estuvo Nino Bravo, justo una semana antes de morir. Ángela Carrasco o Lorenzo Santamaría son otros de las personajes conocidos que han pasado por allí.
          <p>Can Martí es famoso por sus bocadillos de calamares; dede hace 25 o 30 años los sirven cada viernes.</p>
        </div>
      </div>
    </div>
  </section>