
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

      <div class="ae-grid">
        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/historia" class="rk-item">
            <img src="assets/img/portada.jpg" alt="">
            <div class="item-meta">
              <h2>Desde 1940...</h2>
              <p>Conoce nuestra historia</p>
            </div></a></div>
      </div>
     
      <div class="rk-portfolio__items">
        
        <div class="rk-items-cont rk-size-6 rk-tosize-8">
          <a href="https://www.gaggia.com/legacy/" class="rk-item ">
              <img src="assets/img/cafe.jpg" alt="">
            <div class="item-meta">
              <h2>El mejor café</h2>
              <p>Descubrelo</p>
            </div></a>
            <a routerLink="/menu" class="rk-item ">
                <img src="assets/img/menu.jpg" alt="">
              <div class="item-meta">
              <h2>Menú diario</h2>
              <p>Casero 100%</p>
            </div></a>
        </div><a routerLink="/menu" class="rk-item rk-item--flex item-6 rk-size-6 rk-tosize-4 rk-portrait rk-tosquare">
          <div class="item-meta">
            <h2>Y los viernes...</h2>
            <p>BOCADILLO DE CALAMARES</p>
          </div></a>
      </div>
    </section>